footer {
    padding: 40px 0 30px 0;
    background: #0B0C0E;
}

.footer-mainpage {
    padding: 100px 0 240px 0;
    background: url(../images/footer-bg.png) no-repeat center bottom #0B0C0E;
    text-align: center;
}

footer .modal-form-success {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

.footer-title {
    margin-bottom: 84px;
}

.footer-copyright {
    color: #646870;
    font-weight: 400;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 16px;
}

.footer-contacts a {
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.footer-social {
    display: flex;
    margin-top: 102px;
    justify-content: center;
    position: relative;
}

.footer-social:before {
    content: "Social media:";
    color: #ffffff;
    position: absolute;
    transform: translate(-10px,-36px);
}

.footer-mainpage .footer-social:before {
    transform: translateY(-36px)
}

.footer-social-item {
    margin: 0 44px 0 0;
}
.footer-social-item:last-of-type{
    margin: 0;
}
@media (max-width: 992px) {
    .footer-mainpage {
        padding: 50px 0 220px 0;
    }

    .footer-title {
        margin-bottom: 50px;
    }

    .footer-social {
        margin-top: 90px;
    }
    .footer-contacts a,
    .footer-copyright{
        text-align: center;
    }
    .footer-contacts {
        margin-bottom: 32px;
    }
}
