:root {
    --title-color: rgba(0,49,99,1);
    --text-color: rgba(102,131,161,1);
    --blue: rgba(25,140,255,1);
    --blue-bg: rgba(25,140,255,.05);
    --blue-hover: rgba(25,140,255,.9);
    --red: rgba(240,77,77,1);
    --red-hover: rgba(240,77,77,.9);
    --gray: #777777;
    --white: #FFFFFF;
    --white-hover: #EEEEEE;
    --mint: #59D7CF;
    --black: #0B0C0E;
    --green: #46b450;
}

