
.btn,.btn-outline,.btn-filled,
input[type=submit], input[type=submit].button, input[type=submit], .primary, .primary.add_to_cart_button {
    color: #FFFFFF;
    border-radius: 30px;
    height: 48px;
    line-height: 45px;
    padding: 0 55px;
    border: 2px solid #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    white-space: nowrap;
    transition: .3s all ease-in-out;
    background: transparent;
}

.btn:hover {
    border-color: #59D7CF;
    color: #59D7CF;
}

.btn-big {
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
}

.btn-black {
    background: #0B0C0E;
    border: none;
}

.btn-black:hover {
    background: #59D7CF;
    color: #FFFFFF;
}
.btn.add_to_cart_button{
    background: var(--mint);
    color: var(--black);
    height: 45px;
    line-height: 43px;
    font-size: 16px;
    border-color: var(--mint);
}
.btn-outline{
    color: var(--black);
    border: 2px solid var(--mint);
    background: transparent;
    line-height: 46px;
}

.btn-outline:hover {
    color: var(--black);
    border: 2px solid var(--mint);
    background: var(--mint);
}
.cart .single_add_to_cart_button,
.product .add_to_cart_button{
    background: var(--mint);
    color: var(--black);
    border: 2px solid var(--mint);
    font-size: 16px!important;
    line-height: 43px;
    margin-top: 0;
    max-width: 136px;
    padding: 0;
    width: 136px;
}
.cart .single_add_to_cart_button.loading, .product .add_to_cart_button.loading{
    opacity: .8!important;
    pointer-events: none;
    cursor: not-allowed;
}
.btn-filled{
    color: var(--black);
    border: 2px solid var(--mint);
    background: var(--mint)!important;
    line-height: 46px;
}
.cart .single_add_to_cart_button:hover,
.btn-filled:hover,
.product .add_to_cart_button:hover{
    color: var(--black);
    border: 2px solid var(--mint);
    background: transparent!important;
}
@media (max-width: 992px) {
    .btn {
        width: 100%;
    }
}

.is-form, button.is-form, input[type=submit].is-form, input[type=reset].is-form, input[type=button].is-form,
.form-flat input:not([type=submit]), .form-flat textarea, .form-flat select{
    border-color: var(--mint);
    background: transparent;
    height: 48px;
    border-width: 2px;
    color: var(--mint);
}
.product-summary .quantity, .quantity{
    margin: 0;
}
.product-summary .quantity + .button{
    margin: 0 0 0 16px;
}
.button.disabled, button.disabled, .button[disabled], button[disabled],
.woocommerce-variation-add-to-cart-disabled .button,
.woocommerce-variation-add-to-cart-disabled input{
    pointer-events: none;
    opacity: .6;
}
.product_type_variable{
    width: 100%;
    max-width: 100%;
    min-width: 170px;
}
.form-flat select[data-show_option_none="yes"]{
    border: 2px solid #E8F1F8;
    color: var(--black)!important;
    opacity: 1;
}
.form-flat select[data-show_option_none="yes"] option{
    color: var(--black);
}