.checkout-breadcrumbs {
}

.checkout-breadcrumbs a {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #747A8E;
    box-sizing: border-box;
    background: #F0F3F8;
    border-radius: 32px;
    height: 48px;
    padding: 0 24px;
    border: 2px solid #F0F3F8;
    transition: .3s all ease-in-out;
}

.checkout-breadcrumbs a:hover, .checkout-breadcrumbs .current {
    background: #FFFFFF;
    border-color: #59D7CF;
    color: #0B0C0E;
}

.checkout-breadcrumbs .current {
    font-weight: 800;
}

.checkout-breadcrumbs span {
}

.checkout-breadcrumbs > a:first-child:before {
    content: "";
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.853 26.172a2.087 2.087 0 1 1 0-4.177 2.087 2.087 0 1 1 0 4.177Zm0-2.199c-.073 0-.11.037-.11.11 0 .074.037.11.11.11v-.22Zm0 0v.257c.073 0 .11-.037.11-.11.037-.11-.037-.147-.11-.147ZM22.288 26.172a2.087 2.087 0 1 1 0-4.177 2.087 2.087 0 1 1 0 4.177Zm0-2.199v.257c.073 0 .11-.037.11-.11 0-.11-.074-.147-.11-.147Zm0 0c-.074 0-.11.037-.11.11 0 .074.036.11.11.11v-.22ZM8.073 20.273c-1.758 0-3.26-1.356-3.37-3.114L3.53 3.309l-1.832-.33C1.112 2.87.71 2.32.818 1.698c.11-.586.66-.989 1.283-.879l2.675.476c.476.074.88.477.916.99l.293 3.444H23.9c.146 0 .256 0 .403.036a2.813 2.813 0 0 1 2.381 3.188l-1.209 8.39c-.22 1.649-1.685 2.93-3.37 2.93H8.072ZM6.131 7.926l.77 9.013c.036.623.586 1.099 1.209 1.099h13.959c.586 0 1.099-.44 1.209-1.026l1.209-8.39c.037-.33-.183-.66-.513-.696H6.13Z' fill='%230B0C0E'/%3E%3C/svg%3E");
    width: 32px;
    height: 32px;
    background-size: 32px auto;
    margin-right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.853 26.172a2.087 2.087 0 1 1 0-4.177 2.087 2.087 0 1 1 0 4.177Zm0-2.199c-.073 0-.11.037-.11.11 0 .074.037.11.11.11v-.22Zm0 0v.257c.073 0 .11-.037.11-.11.037-.11-.037-.147-.11-.147ZM22.288 26.172a2.087 2.087 0 1 1 0-4.177 2.087 2.087 0 1 1 0 4.177Zm0-2.199v.257c.073 0 .11-.037.11-.11 0-.11-.074-.147-.11-.147Zm0 0c-.074 0-.11.037-.11.11 0 .074.036.11.11.11v-.22ZM8.073 20.273c-1.758 0-3.26-1.356-3.37-3.114L3.53 3.309l-1.832-.33C1.112 2.87.71 2.32.818 1.698c.11-.586.66-.989 1.283-.879l2.675.476c.476.074.88.477.916.99l.293 3.444H23.9c.146 0 .256 0 .403.036a2.813 2.813 0 0 1 2.381 3.188l-1.209 8.39c-.22 1.649-1.685 2.93-3.37 2.93H8.072ZM6.131 7.926l.77 9.013c.036.623.586 1.099 1.209 1.099h13.959c.586 0 1.099-.44 1.209-1.026l1.209-8.39c.037-.33-.183-.66-.513-.696H6.13Z' fill='%230B0C0E'/%3E%3C/svg%3E");
    transform: scale(.75);
}

::before {}
.checkout-breadcrumbs > a.no-click{
    opacity: .6;
}