.product-small.box {
    font-weight: normal;
    font-size: 13px;
    padding: 16px;
    background: white;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    border: 2px solid #E8F1F8;
    position: relative;
    height: 100%;
    padding-bottom: 0;
    z-index: 10;
}
.product-small.box:hover{
    border-color: var(--mint);
}
.badge-container {
    left: 20px;
    margin: 0;
    top: 12px;
    z-index: 1;
    max-width: 40px;
    max-height: 20px;
}

.badge {
    height: 20px;
    border-radius: 4px;

}

.badge-inner {
    background-color: #dd0000;
    font-size: 12px;
    border-radius: 4px;
}

.badge-circle-inside .badge-inner, .badge-circle .badge-inner {
    border-radius: 4px;
}

.product-small + .yith-wcbr-brands {
    display: none;
}

.product-page-price .woocommerce-Price-amount {
    font-size: 24px;
    color: var(--black);
}

.yith-wcbr-brands, .product_meta > span {
    margin-top: 0;
    border: none !important;
}

.product_meta {
    border-top: 1px solid #e8e8e8;
    margin: 0 0 32px 0;
    border-bottom: 1px solid #e8e8e8;
}
.product-lightbox-inner h1{
    color: var(--black);
}
.product .product-title.woocommerce-loop-product__title
{
    color: var(--black);
    font-size: 16px;
    display: block;
    font-weight: 500;
    margin: 0 0 16px 0!important;
}
.product .price .amount{
    display: block;
    font-size: 16px;
    font-weight: 800;   
}
.product .price-wrapper{
    margin-bottom: 16px;
}
.product.out-of-stock.type-product{
    pointer-events: none;
}
.product.out-of-stock.type-product .attachment-woocommerce_thumbnail{
    filter: grayscale(100%);
    opacity: .7;
}
.product.out-of-stock.type-product .primary.button{
    margin: 0;
    border: 2px solid #C1C6D7;
    /* color: #ABB1BF; */
    font-weight: bold;
    font-size: 16px;
    line-height: 44px;
    color: transparent;
}
.product.out-of-stock.type-product .primary.button:before{
    content: 'Out of stock';
    text-indent: 0%;
    /* color: red; */
    color: #ABB1BF;
}
.product.out-of-stock.type-product .out-of-stock-label{
    display: none;
}
.product .badge-container{
    z-index: 10;
}
.product .badge-inner.new-bubble{
    background: #FFD748;
    border-radius: 32px;
    font-weight: 800;
    font-size: 10px;
    color: var(--black);
    height: 28px;
    display: inline-block;
    line-height: 24px;
    z-index: 10;
    border: none;
    text-transform: uppercase;
}

.product .add_to_cart_button.added{
    display: inline-block;
}
.add_to_cart_button.added + a {
    display: none;
}

.subcategories-list{
    display: flex;
    flex-wrap: wrap;
    margin: -16px -8px 32px -8px;
}
.subcategories-list>li{

}
.subcategories-list>li>a{
    margin: 0 8px;
    height: 48px;
    line-height: 44px;
    border: 2px solid #E8F1F8;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 0 16px;
    display: inline-block;
    font-weight: 800;
    transition: .3s all ease-in-out;
}
.subcategories-list>li>a:hover,
.subcategories-list>li>a.is-active{
    border-color: var(--mint);
}