.widget_product_categories > ul {
    background: #F9FCFF;
    border-radius: 12px;
    padding: 24px;
}

.widget_product_categories > ul > li {
    border: none !important;
    margin: 0 24px 0 0;
    display: block;
}

.widget_product_categories > ul > li a {
    font-weight: 800;
    font-size: 18px;
    transition: .3s all ease-in-out;
}

.widget_product_categories > ul > li a:hover, .widget_product_categories ul li.active:not([aria-expanded="true"]) > a {
    color: var(--mint);
}

.widget_product_categories > ul > li button {
}

.widget_product_categories > ul > li i {
}

.widget_product_categories > ul > li {
    padding: 0;
    margin: 0 0 16px 0;
    display: block;
}
.widget_product_categories > ul > li:last-of-type{
    margin-bottom: 0;
}
.widget_product_categories > ul > li.has-child a {

}

.widget_product_categories > ul > li.has-child button {
}

.widget_product_categories > ul > li.has-child i {
}

.widget_product_categories > ul > li.active {
}

.widget_product_categories > ul > li.active a {
}

.widget_product_categories > ul > li.active button {
}

.widget_product_categories > ul > li.active i {
}

.widget_product_categories > ul > li .children {
    border: none;
}

.widget_product_categories > ul > li .children li {
    margin-top: 16px;
}

.widget_product_categories > ul > li .children li a {
    font-weight: 500;
    font-size: 18px;
}

.widget_product_categories > ul > li .children li button, .widget_product_categories > ul > li .children li .children {
    display: none!important;
}
