.cart-container.page-checkout {
}

.cart-container.page-checkout .woocommerce.row-large {
}

.cart-container.page-checkout .woocommerce.row-large div:first-child {
}

.cart-container.page-checkout .woocommerce.row-large div:last-child {
    border: none;
}

.cart-container.page-checkout .woocommerce-cart-form {
}

.cart-container.page-checkout .cart-wrapper {
}

.cart-container.page-checkout .cart-wrapper .shop_table {
    display: block;
}

.cart-container.page-checkout .cart-wrapper .shop_table thead {
    /* display: none; */
}

.cart-container.page-checkout .cart-wrapper .shop_table tr {
    border: 2px solid #E8F1F8;
    border-radius: 12px;
    padding: 20px 12px;
    margin: 0 0 24px 0;
    display: flex;
    position: relative;
    align-items: center;
}

.cart-container.page-checkout .cart-wrapper .shop_table tr:last-child {
    border: none;
    padding-left: 0;
}

.cart-container.page-checkout .cart-wrapper .shop_table td {
    padding: 0px 12px 0 0;
    border: none;
    display: block;
    /* border-bottom: 2px solid #E8F1F8; */
}

.cart-container.page-checkout .cart-wrapper thead td {
    border: none;
    color: #747A8E;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.cart-container.page-checkout .cart-wrapper .shop_table thead tr {
    padding: 0;
}

.cart-container.page-checkout .cart-wrapper .product-name {
    width: 40%;
}

.cart-container.page-checkout .cart-wrapper td.product-remove {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.cart-container.page-checkout .cart-wrapper td.product-remove .remove {
    border: none;
}

.cart-container.page-checkout .cart-wrapper td.product-remove .remove:hover svg path {
    fill: var(--red);
}

.cart-container.page-checkout .cart-wrapper .product-price, .cart-container.page-checkout .cart-wrapper .product-subtotal {
    width: 90px;
    font-size: 18px;
}

.cart-container.page-checkout .cart-wrapper .product-quantity {
    width: 145px;
}

.cart-container.page-checkout .cart-wrapper td.product-thumbnail {
    padding: 0;
    min-width: 90px;
}

.cart-container.page-checkout .cart-wrapper .cart_item {
}

.cart-container.page-checkout .cart-wrapper .button-continue-shopping {
}

.cart-container.page-checkout .cart-wrapper {
}

.cart-container.page-checkout {
}

.cart-container.page-checkout {
}

.cart-container.page-checkout {
}

.cart-container.page-checkout .cart-sidebar {
}

.cart-container.page-checkout .cart_totals {
    padding: 24px;
    border: 2px solid #E8F1F8;
    border-radius: 12px;
    background: #F9FCFF;
    margin-top: 47px;
}

.cart-container.page-checkout .cart_totals table {
}

.cart-container.page-checkout .cart_totals tr {
}

.cart-container.page-checkout .cart_totals th {
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #747A8E;
}

.cart-container.page-checkout .cart_totals .product-name {
    display: none;
}

.cart-container.page-checkout .cart_totals td {
    border: none;
}

.cart-container.page-checkout .cart_totals h2 {
}

.cart-container.page-checkout .cart_totals .shop_table {
    border: none;
    display: block;
    margin: 0;
}

.cart-container.page-checkout .cart_totals .shop_table * {
    /* display: block; */
    text-align: left;
}

.cart-container.page-checkout .cart_totals, 
.cart-container.page-checkout .cart_totals tbody, 
.cart-container.page-checkout .cart_totals tr, 
.cart-container.page-checkout .cart_totals  td {
    display: block;
    width: 100%;
}

.cart-container.page-checkout .cart_totals .cart-subtotal {
    margin-top: -32px;
}

.cart-container.page-checkout .cart_totals .cart-subtotal tr, 
.cart-container.page-checkout .cart_totals .cart-subtotal td {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    display: block;
    margin: 0;
}

.cart-container.page-checkout .cart_totals .cart-subtotal .amount {
    border: none;
    display: flex;
}

.cart-container.page-checkout .cart_totals bdi {
    font-weight: bold;
    width: 100%;
    font-size: 18px;
}

.cart-container.page-checkout .cart_totals .order-total,
.cart-container.page-checkout .cart_totals .cart-subtotal {
    border: none;
    border-bottom: 1px solid #E6E9F3;
    padding: 16px 0;
}
.cart-container.page-checkout .cart_totals .order-total th,
.cart-container.page-checkout .cart_totals .order-total td,
.cart-container.page-checkout .cart_totals .cart-subtotal th,
.cart-container.page-checkout .cart_totals .cart-subtotal td{
    padding: 0;
    margin: 0;
}
.cart-container.page-checkout .cart_totals .order-total td{

}
.cart-container.page-checkout .cart_totals .cart-subtotal td{
    
}
.cart-container.page-checkout .cart_totals .order-total .amount bdi {font-size: 24px;}

.cart-container.page-checkout .wc-proceed-to-checkout {
    margin-bottom: 0
}

.cart-container.page-checkout .checkout-button {
    margin: 0;
    padding: 0;
}
