.delivery-btn-top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 36px;
    z-index: 100;
    margin: 0;
    border: 2px solid;
}

.delivery-icon-box {

}
.delivery-icon-box .icon-box-img svg{
    width: 64px;
}
.delivery-icon-box .icon-box-img svg rect,
.delivery-icon-box .icon-box-img svg path{
    fill: rgb(0, 102, 248);
}
.delivery-icon-box h3 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
}

.delivery-icon-box p {
    font-weight: 500;
    font-size: 16px;
}

.delivery-section-bg {
    padding: 60px 0 40px 0 !important;
}

.delivery-counter-box {
    max-width: 295px;
}
.delivery-counter-box:after{
    content: '';
    display: block;
    width: 14px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.46967 1.53033C8.17678 1.23744 8.17678 0.762563 8.46967 0.46967C8.76256 0.176777 9.23744 0.176777 9.53033 0.46967L13.5303 4.46967C13.8232 4.76256 13.8232 5.23744 13.5303 5.53033L9.53033 9.53033C9.23744 9.82322 8.76256 9.82322 8.46967 9.53033C8.17678 9.23744 8.17678 8.76256 8.46967 8.46967L11.1893 5.75H1.5C1.08579 5.75 0.75 5.41421 0.75 5C0.75 4.58579 1.08579 4.25 1.5 4.25H11.1893L8.46967 1.53033Z' fill='%23B4BAD2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat ;
    position: absolute;
    top: 50%;
    right: 20px;
}
.delivery-counter-row .col:nth-child(3n) .col-inner .delivery-counter-box:after{
    display: none;
}
@media(max-width:992px){
    .delivery-counter-box:after {
        right: auto;
        left: 25px;
        top: auto;
        bottom: -16px;
        transform: rotate(90deg);
    }
    .delivery-counter-row .col:nth-child(3n) .col-inner .delivery-counter-box:after{
        display: block;
    }
    .delivery-counter-row .col:last-of-type .col-inner .delivery-counter-box:after{
        display: none;
    }

}
.delivery-counter-box:before{
    min-width: 64px;
    height: 64px;
    text-align: center;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    float: left;
    top: auto;
    left: auto;
    width: auto;
    position: relative;
    border: 3px dashed #D6D9E7;
    border-radius: 64px;
    font-weight: 800;
    font-size: 24px;
}
.delivery-counter-row{
    counter-reset: delivery-counter;
    overflow: hidden;
}
.delivery-counter-row .col-inner{
    counter-increment: delivery-counter;
}
.delivery-counter-row .col-inner .delivery-counter-box:before{
    content: counter(delivery-counter);
}
@media(max-width: 992px){
    .delivery-btn-top{
        left: 0;
    }
    .delivery-text-top{
        display: none;
    }
}